*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: auto;
    width: 100%;
    height: 2400px;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(img/OCH_0631.JPG);
    background-position: center;
    background-size: contain;
    /* padding-left: 8%;
    padding-right: 8%; */
    box-sizing: border-box;
}


.navbar{
    height: 10%;
    background-color: rgba(0,0,0, 0.5);
    
    display: flex;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0px;
    right: 0px;
    z-index: 9999;
}


.logo{
    width: 150px;
    cursor: pointer;
    align-items: center;
}
.menu-icon{
    display: none;
    width: 30px;
    cursor: pointer;
    margin-left: 30px;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
nav ul li a:hover{
    color: #fff;
    text-shadow: 0px 0px 5px white ;
    
}
.row{
    display: inline-flex;
    /* height: 88%; */
    margin-top: 200px;
    /* align-items: center; */
}
@keyframes animasiPageMain {
    from{
        opacity: 0%;
        margin-top: 50px;
    }
    to{
        opacity: 100%;
        margin-top: 0;
    }
}
.pagemain{
    padding-left: 14px;
    width: 50%;
    box-sizing: border-box;
    float: left;
    animation: animasiPageMain 1s;
    animation-fill-mode: forwards;
}
.col{
   
    width: 500px;
    box-sizing: border-box;
    float: right;
    animation: animasiPageMain 2s;
    animation-fill-mode: forwards;
}
h1{
    color: #fff;
    font-size: 80px;
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;

}
button{
    width: 180px;
    color: #fff;
    font-size: 16px;
    padding: 12px 0;
    background: rgba(255,255,255,0.2);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
	transition: all 0.5s ease;

}
button:hover{
    background: #fff;
    color: #2c2b2f;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box ;
    cursor: pointer;
    /* float: right; */
    margin: 10px 10px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(img/mec.png);
}
.card2{
    background-image: url(img/epr.png);
}
.card3{
    background-image: url(img/ntc.png);
}
.card4{
    background-image: url(img/menthor.png);
}


.card:hover{
    transform: translateY(-10px);
}

h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 5px #000;
    font-size: 8px;
}

.kotak1,.kotak3{
    top: 600px;
    width: 45%;
    height: 200px;
    margin-top: 100px;
    position: static;
    left: 0;
    border-radius: 15px;
    background-color: rgb(88, 144, 144);
    padding: 5px;
    
}
.kotak2{
    float: right;
    top: 600px;
    width: 45%;
    height: 200px;
    margin-top: 10px;
    position:static;
    right: 0;
    border-radius: 15px;
    background-color: rgb(88, 144, 144);
    padding: 5px;
    /* align-items: center; */
    /* text-align: center; */
    /* line-height: 200px; */
    /* display: inline-block; */
}

.kotak img{
    float: left;
    margin: 5px;
    width: 200px;
   
}




.container2{
	max-width: 1170px;
	margin:auto;
}
.row2{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.timeline-section{
	background-color: #0085f100;
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #fff;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
    transition: 0.5s;
}
.timeline-dot:hover{
    background-color: #2f363e;
}
.timeline-date{
	font-size: 18px;
	color: #fff;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #2f363e00;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.footer{
	background-color: #0e0f10;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #fff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #2c2b2f;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
.timeline-items::before{
    left: 7px;
}
.timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: left;
}
.timeline-item:nth-child(odd),
.timeline-item:nth-child(even){
    padding-left: 37px;
}
.timeline-dot{
    left:0;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/* @media (min-aspect-ratio: 16/9){
    back-video{
        width:auto;
        height: 80px;
    }
}
@media (max-aspect-ratio: 16/9){
    back-video{
        width: 80px;
        height: auto;
    }
} */

@media  screen and (max-width:576px) {
    nav ul li {
        display: none;
    }
    .menu-icon {
        display: block;
    }
}










/* micro clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
